<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/customstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container" >
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">

                <img src="~/Assets/Images/logo1.png" style="width:120px !important" />
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-pink me-2">Login</button>
                <button type="button" class="btn btn-pink">Sign-up</button>
            </div>
        </header>
    </div>
    <div class="container-fluid " style="background-color: #991755;">
        @*@Html.Partial("../Pages/CategoryNavigation");*@
        @Html.Action("CategoryNavigation", "Pages")
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
